:root {
    font-size: 14px;
    /* primary */
    --dark-blue-intro: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonial: hsl(219, 30%, 18%);
    /* accent */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
}

:root, :root::after, :root::before {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--dark-blue-intro);
    color: var(--white);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
} 

.header-nav-list {
    display: flex;
    gap: 1em;
}

.nav-list-item {
    font-size: 1rem;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}